.landing-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.book-listing {
  flex: 1;
  width: 100%;
  margin-top: 20px;
}

.book-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.book-card h3 {
  margin-top: 0;
  margin-bottom: 8px;
}

.book-info {
  margin-bottom: 16px;
}

.book-actions {
  display: flex;
  justify-content: flex-end;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 10px 0;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
}

.pagination button {
  margin: 0 4px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
